<?xml version="1.0" encoding="UTF-8"?>
<!-- 1. Добавляем пространство имен tools -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Основные разрешения -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!-- 2. "Защищаем" наше главное разрешение от изменений другими модулями -->
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <!-- Старые разрешения для совместимости -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />


    <application
        android:name=".app.AndroidPEApplication"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/androidpe_app_icon_dark"
        android:label="@string/app_name"
        android:roundIcon="@drawable/androidpe_app_icon_dark"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:resizeableActivity="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.Application"
        
        <!-- 3. Принудительно удаляем конфликтующий атрибут, если он появится -->
        tools:remove="android:requestLegacyExternalStorage">
        
        <!-- ... все ваши activity остаются без изменений ... -->
        <activity
            android:name=".app.CrashHandler$CrashActivity"
            android:theme="@style/Theme.Material3.DayNight" />
        
        <activity
            android:name=".activities.MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activities.ProjectEditorActivity"
            android:hardwareAccelerated="true" />
        
        <activity
            android:name=".activities.CodeEditorActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize" />
        
        <activity
            android:name=".activities.PreferencesActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".activities.AboutAppActivity" />
    </application>

</manifest>
